.parent {
    background-color: #FAFAFA;
    padding: 20px;
    width: 100%;
    max-width: 1500px;
}

.mainInfo {
    display: flex;
    justify-content: center;
    align-items: stretch;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 60px 20px 0;
    width: calc(100% - 40px);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif

}

.userImage {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userImg {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

.allUserInfo{
    display: flex;
    flex-direction: column;
    width: 977px;
}


.userName,
.stats, .fullName {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
    padding-left: 7px;
    margin-top: 20px;
}

.userNameH1 {
    color: black;
    padding: 0;
    font-size: 28px;
    line-height: 32px;
    margin: -5px 0 -6px;
}


.fullName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 33%;
    font-size: 16px;
    line-height: 24px;
}

.followingButton {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative;
    padding: 5px 9px;
    margin-left: 7px;
}

.stats a {
    text-decoration: none;
    color: black;
}

.statFollow {
    margin-left: 8%;
}

.fullName h3 {
    padding: 0;
    margin: 0;
}

.link {
    color: #003569;
    text-decoration: none;
    font-family: 'HelveticaNeueCyrBold', serif;
}

.fontBold {
    font-family: 'HelveticaNeueCyrBold', serif;
}


