.nav {
    position: fixed;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    top: 0;
    width: 100%;
    max-width: 1500px;
    height: 77px;
}

.nav.scroll {
    background-color: black;
}
.navMenus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 77px;
    width: 1035px;
    margin: 0 auto;
    padding: 26px 40px;
}
.navBrandLogo {
    display: block;
    background-position: -176px 0;
    background-image: url(../../../sprite.png);
    background-size: 405px 379px;
    background-repeat: no-repeat;
    height: 35px;
    width: 176px;
    text-indent: -1000%
}
.search {
    width: 200px;
    border: 1px solid #E0E0E0;
    padding: 6px;
    border-radius: 4px;
    background-color: #FAFAFA;
    text-align: center;
    background-image:url('http://i47.tinypic.com/r02vbq.png');
    background-repeat:no-repeat;
    background-position: 30px;
}

.search:focus {
    background-position: -20px;
    padding-left: 26px;
    text-align: left;
}
.logInBtn {
    background: #039BE5;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 3px;
}

.signUpBtn {
    background: white;
    color: #039BE5;
    border: none;
    padding: 6px 10px;
    border-radius: 3px;
}
