.foto {
    display: flex;
    flex-direction: column;
}
.fotoRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
}
.img {
    height: 293px;
    width: 293px;
    margin-right: 28px;
}
.imgWrapper {
    height: 293px;
    width: 293px;
    margin-right: 28px;
    background-color: rgba(0, 0, 0, 1);

}
.imgWrapper:hover img{
    opacity: 0.7;
    display: block;
    cursor: pointer;
}
.img3 {
    height: 293px;
    width: 293px;
}
